@font-face {
  font-family: 'CeraPro';
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  color: #000;
  width: 100%;
  opacity: 1;
  color: white;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'CeraPro', sans-serif;
  background: #ffffff;
  letter-spacing: -0.24px;
  color: #fff;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 944px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.header {
  background: url(../images/fon-bg.png) 50%/cover no-repeat;
  padding: 80px 0;
}

@media screen and (max-width: 1300px) {
  .header {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #2c2c27;
    opacity: 0.3;
    z-index: 1;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__title {
  margin: 40px 0;
}

.header__title h1 {
  font-size: 189px;
  font-weight: 700;
  letter-spacing: 20px;
  margin-bottom: 20px;
  line-height: 0.8;
}

.header__title h2 {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 10px;
}

@media screen and (max-width: 1300px) {
  .header__title h1 {
    font-size: 130px;
  }
  .header__title h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    margin: 20px 0;
  }
  .header__title h1 {
    font-size: 80px;
    letter-spacing: 15px;
  }
  .header__title h2 {
    font-size: 20px;
    margin-left: 5px;
  }
}

.header__nav {
  font-size: 28px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.header__list li {
  margin-right: 25px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #eb5e3f;
}

.header__list li a img {
  position: relative;
  top: 5px;
  left: -2px;
}

.header__list li:last-child img {
  left: 0px;
}

.header__list li:last-child {
  margin: 0;
}

.header__list li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header__list li:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (max-width: 1300px) {
  .header__list {
    margin-bottom: 20px;
  }
  .header__list li {
    margin-right: 20px;
  }
  .header__list li:last-child {
    margin: 0;
  }
  .header__list li a {
    width: 70px;
    height: 70px;
  }
  .header__list li a img {
    max-width: 45px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .header__list {
    margin-bottom: 10px;
  }
  .header__list li {
    margin-right: 20px;
  }
  .header__list li:last-child {
    margin: 0;
  }
  .header__list li a {
    width: 50px;
    height: 50px;
  }
  .header__list li a img {
    max-width: 35px;
    top: 2px;
  }
}

.header__text {
  color: #181818;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  .header__text {
    font-size: 20px;
  }
}

.header__mail {
  color: #eb5e3f;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  .header__mail {
    font-size: 20px;
  }
}

.keys {
  background-color: #eb5e3f;
  position: relative;
}

.keys:before {
  content: '';
  display: inline-block;
  width: 600px;
  height: 100%;
  position: absolute;
  opacity: 0.07;
  left: 0px;
  top: 0px;
  background: url(../images/Keys.png) no-repeat;
}

@media screen and (max-width: 1300px) {
  .keys:before {
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .keys:before {
    width: 100%;
  }
}

.keys__inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 80px;
}

@media screen and (max-width: 1300px) {
  .keys__inner {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .keys__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .keys__item:first-child {
    margin-bottom: 20px;
    max-width: 300px;
  }
}

.keys__title {
  font-size: 70px;
  font-weight: 400;
}

.keys__title.keys-link {
  position: relative;
}

.keys__title.keys-link:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 50px;
  position: absolute;
  right: -30px;
  bottom: 0px;
  background: url(../images/hand.png) 50%/cover no-repeat;
}

@media screen and (max-width: 1300px) {
  .keys__title.keys-link:before {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .keys__title.keys-link:before {
    width: 20px;
    height: 20px;
    right: -20px;
  }
}

@media screen and (max-width: 1300px) {
  .keys__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .keys__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

.keys__subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
}

.keys__subtitle span {
  display: block;
}

@media screen and (max-width: 1300px) {
  .keys__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .keys__subtitle {
    line-height: 27px;
  }
}

.keys__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.keys__list li {
  -webkit-transition: 300ms;
  transition: 300ms;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #fff;
  margin-right: 35px;
  cursor: pointer;
}

.keys__list li:last-child {
  margin: 0;
}

.keys__list li:nth-child(4) {
  background: #1976D2;
}

.keys__list li:nth-child(5) {
  background: #4189E3;
}

.keys__list li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.keys__list li:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (max-width: 1300px) {
  .keys__list {
    margin-top: 20px;
  }
  .keys__list li {
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .keys__list li {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
}
